<header class="aels-header">
  <h3 class="aels-title">Aels</h3>
  {{#unless hasAels}}
  <div class="item-controls">
    <a class="item-control item-create" title="Create Aels" data-type="aels"><i class="fas fa-plus"></i> Add Aels</a>
  </div>
  {{/unless}}
</header>
<div class="aels-container">
  {{#each actor.items as |item|}}
      {{#if (eq item.type "aels")}}
          <div class="aels-item profile-like" data-item-id="{{item._id}}">
            <div class="aels-type">
              <input type="text" name="aels-type" value="{{item.name}}" placeholder="Type de créature"/>
            </div>
            <div class="aels-value profile-like-value">
              <input type="number" name="aels-value" value="{{item.system.value}}" data-dtype="Number" placeholder="Puissance"/>
            </div>
          </div>
      {{/if}}
  {{/each}}
</div>