<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/fvtt-mds/templates/sheets/partials/header.hbs"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="profiles">Profiles</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Profiles Tab --}}
    <div class="tab" data-group="primary" data-tab="profiles">
      {{> "systems/fvtt-mds/templates/sheets/partials/profile.hbs"}}

      <div class="content-row">
        <div class="content-column col-double">
          {{!-- Techniques Section --}}
          {{> "systems/fvtt-mds/templates/sheets/partials/technique.hbs"}}
        </div>

        <div class="content-column col-flex">
          {{!-- Aels Section --}}
          {{> "systems/fvtt-mds/templates/sheets/partials/aels.hbs"}}
        </div>
      </div>

      <div class="content-row">
        <div class="content-column col-flex">
          {{!-- Blessures Section --}}
          {{> "systems/fvtt-mds/templates/sheets/partials/blessure.hbs"}}
        </div>

        <div class="content-column col-flex">
          {{!-- Equipements Section --}}
          {{> "systems/fvtt-mds/templates/sheets/partials/equipement.hbs"}}
        </div>
      </div>
    </div>
  </section>
</form>
