<form>
  <div class="form-group">
    <label>Dé bonus:</label>
    <input type="number" name="bonusDice" value="0" min="0">
  </div>
  <div class="form-group">
    <label>Bonus statique:</label>
    <input type="number" name="staticBonus" value="0" min="0">
  </div>
  {{#if hasAels}}
  <div class="form-group">
    <label>
      <input type="checkbox" name="useAels">
      Utilisation de l'Aels (Puissance: {{aelsValue}})
    </label>
  </div>
  {{/if}}
</form>